body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container{
  width: 780px;
  height: 600px;
  margin: 60px auto;
}

.Container div{
  padding: 15px;
}

.Container div span{
  display: block;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;  
  color: #555555;
}

.Container div a{
  font-size: 20px;
  font-weight: 500;
  color: blue;
}

.Container div p{
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #555555;
}
