.nav {
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

#title{
    margin-left: 2rem;
}

a{
    color: white;
    margin-right: 50px;
    text-decoration: none;
}