.nav{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 40px;
  }

  .title h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .menu a{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 40px;
  }

  .menu a:nth-child(1){
    background-color: pink;
    padding: 4px;
  }